@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular-cfabf0c2.eot) format("eot"), url(../fonts/OpenSans-Regular-a7254975.woff2) format("woff2"), url(../fonts/OpenSans-Regular-9863aaac.woff) format("woff"), url(../fonts/OpenSans-Regular-a05c11bf.ttf) format("truetype"); }

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Regular-ee653992.ttf) format("truetype"); }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  margin: 0;
  width: 100%;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

@-ms-viewport {
  width: device-width; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal; }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none; }


.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column; }

.inner {
  width: 100%;
  max-width: 1675px; }
  @media screen and (max-width: 1500px) {
    .inner {
      padding: 0 15px; } }

.semantic {
  position: absolute;
  visibility: hidden;
  z-index: -10; }

.inner--reversed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-flex-basis: auto;
          flex-basis: auto; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-top: 15px;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  background: url(../images/header-bg-d62c5e18.jpg) center/cover no-repeat; }

.navigation__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

.header-navigation__inner {
  margin-left: 20px; }

.navigation__link {
  color: #ffffff;
  font-family: 'OpenSans';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2.8px; }

.navigation__item:not(:last-child) {
  margin-right: 100px; }
  @media screen and (max-width: 768px) {
    .navigation__item:not(:last-child) {
      margin-right: 0px; } }

@media screen and (max-width: 768px) {
  .header-navigation {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    padding-right: 25px; } }

@media screen and (max-width: 768px) {
  .header-navigation__inner {
    display: none; } }

.header__title {
  font-family: Montserrat;
  font-size: 100px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 80px; }
  @media screen and (max-width: 425px) {
    .header__title {
      font-size: 75px; } }
  .header__title::after {
    content: 'For entrepreneurs and freelancers';
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 4.2px;
    color: #ffffff; }
    @media screen and (max-width: 425px) {
      .header__title::after {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px; } }

.header__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

.more-info-link {
  display: block;
  padding: 18px 80px;
  border: 2px solid #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.52px;
  line-height: 13px;
  color: #ffffff; }
  @media screen and (max-width: 425px) {
    .more-info-link {
      padding: 10px 40px; } }

.more-info-link--black {
  border: 2px solid #000000;
  color: #000000; }

.burger {
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 768px) {
    .burger {
      display: block; } }

.burger__item {
  display: block;
  height: 3px;
  width: 25px;
  background: #ffffff;
  margin-bottom: 4px; }

.footer {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  -webkit-flex-basis: auto;
          flex-basis: auto;
  padding: 95px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  color: #000000;
  font-family: Montserrat;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 6.12px; }

.footer__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px; }
  @media screen and (max-width: 768px) {
    .footer__item {
      font-size: 14px; } }
  @media screen and (max-width: 425px) {
    .footer__item {
      font-size: 10px; } }

.footer__text {
  display: block;
  text-align: center; }

.footer__text:not(:last-child) {
  margin-bottom: 15px; }
  @media screen and (max-width: 768px) {
    .footer__text:not(:last-child) {
      margin-bottom: 5px; } }

.footer-navigation__inner {
  margin-bottom: 70px; }
  @media screen and (max-width: 768px) {
    .footer-navigation__inner {
      margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .footer-navigation__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; } }

.footer-navigation__item:not(:last-child) {
  margin-right: 50px; }
  @media screen and (max-width: 768px) {
    .footer-navigation__item:not(:last-child) {
      margin-right: 0px; } }

.footer-navigation__link {
  color: #000000; }

.block-example {
  margin: 0;
  padding: 0;
  background-image: url(../images/square2-1bb5ab54.png); }

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 65px 0px; }
  @media screen and (max-width: 768px) {
    .section {
      padding: 40px 0px; } }

.section__article {
  max-width: 813px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.section__article-text-container {
  margin-bottom: 60px; }

@media screen and (max-width: 1500px) {
  .section__article-img-container {
    width: 100%;
    max-width: 813px;
    margin-bottom: 50px; } }

@media screen and (max-width: 425px) {
  margin-bottom: 30px; }

@media screen and (max-width: 1500px) {
  .section__article-img {
    width: 100%; } }

.section__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.section__article-text {
  color: #5b5b5c;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3.08px; }
  @media screen and (max-width: 425px) {
    .section__article-text {
      font-size: 15px; } }
  .section__article-text:not(:last-child) {
    margin-bottom: 54px; }
    @media screen and (max-width: 425px) {
      .section__article-text:not(:last-child) {
        margin-bottom: 25px; } }

.section__article-title {
  color: #000000;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  margin-bottom: 54px; }
  @media screen and (max-width: 425px) {
    .section__article-title {
      font-size: 19px;
      margin-bottom: 30px; } }
  .section__article-title::before {
    content: '';
    margin-bottom: 30px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 3.08px;
    color: #c4c4c4;
    display: block; }

.about-section__article-title::before {
  content: 'About us'; }

.about-section__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media screen and (max-width: 1500px) {
    .about-section__inner {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
              flex-direction: column-reverse; } }

.section__title {
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 7.2px;
  color: #000000; }
  .section__title::after {
    content: '';
    display: block;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 4.2px;
    color: #5b5b5c;
    margin-top: 35px; }
    @media screen and (max-width: 768px) {
      .section__title::after {
        font-size: 20px;
        margin-top: 25px; } }
    @media screen and (max-width: 425px) {
      .section__title::after {
        font-size: 10px;
        margin-top: 15px; } }

.photos-section__title {
  margin-bottom: 100px; }
  @media screen and (max-width: 768px) {
    .photos-section__title {
      margin-bottom: 50px; } }
  @media screen and (max-width: 425px) {
    .photos-section__title {
      font-size: 19px; } }
  .photos-section__title::after {
    content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore '; }

.photos__container-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .photos__container-row {
      margin-bottom: 15px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column; } }

.photos__container-item {
  max-width: 800px; }
  @media screen and (max-width: 768px) {
    .photos__container-item {
      width: 100%; } }

.photos__container-item:not(:last-child) {
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    .photos__container-item:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 15px; } }

.slider-toggle__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

.slider-toggle__link--left {
  margin-right: 20px; }

.slider-toggle__link {
  margin-left: 20px; }

.slider-toggle__number-container {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4.2px;
  color: #000000; }

.slider-toggle__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }

.slider-toggle__number--disabled {
  color: #c5c5c5; }

.slider-toggle__slash {
  margin: 0 10px; }

.adventure-section__title::before {
  content: 'Next Tour'; }

@media screen and (max-width: 1500px) {
  .travel-section__article {
    margin-bottom: 70px; } }

.travel-section__article-title {
  font-family: Montserrat;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6px; }
  .travel-section__article-title::before {
    display: none; }
  @media screen and (max-width: 425px) {
    .travel-section__article-title {
      font-size: 14px; } }

.travel-section__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media screen and (max-width: 1500px) {
    .travel-section__inner {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
              justify-content: center; } }

.view-photo-button {
  padding: 23px 36px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  background-color: #dddcdc;
  color: #000000; }
  @media screen and (max-width: 425px) {
    .view-photo-button {
      padding: 12px 18px; } }

.travel-section__img {
  margin-bottom: 70px; }
  @media screen and (max-width: 425px) {
    .travel-section__img {
      margin-bottom: 30px; } }

.book-section {
  padding: 150px 0px;
  background-color: #f4f4f4; }

.book-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0px 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between; }
  @media screen and (max-width: 1500px) {
    .book-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 425px) {
    .book-form {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
              align-items: flex-start; } }

.book-form__legend {
  color: #000000;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 500;
  line-height: 41px;
  text-transform: uppercase;
  letter-spacing: 4.2px; }
  .book-form__legend::after {
    content: 'Mauris ultrices eros in cursus turpis';
    display: block;
    line-height: 18px;
    color: #5b5b5c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.52px; }
    @media screen and (max-width: 425px) {
      .book-form__legend::after {
        font-size: 9px; } }
  @media screen and (max-width: 1500px) {
    .book-form__legend {
      margin-bottom: 20px; } }
  @media screen and (max-width: 1200px) {
    .book-form__legend {
      text-align: center; } }
  @media screen and (max-width: 425px) {
    .book-form__legend {
      font-size: 18px;
      text-align: left; } }

.book-form__input {
  width: 304px;
  height: 71px;
  border: 2px solid #7a7a7a;
  color: #3a4047;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3.08px;
  padding-left: 30px; }

.book-form__submit {
  width: 247px;
  background: #3a4047;
  border: 2px solid #7a7a7a;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.08px;
  padding-left: 0px; }
  @media screen and (max-width: 1200px) {
    .book-form__submit {
      width: 304px; } }

.inputs__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 1200px) {
    .inputs__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; } }

.book-form__label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.book-form__label:not(:last-child) {
  margin-right: 60px; }
  @media screen and (max-width: 1200px) {
    .book-form__label:not(:last-child) {
      margin-right: 0px;
      margin-bottom: 20px; } }

