body {
	overflow-x:hidden;
}

* {
	box-sizing: border-box;
}

.align-center {
	display: flex;
	justify-content: center;
}


.header {
	justify-content: space-between;
	position: fixed; 
	background-color: #030713; 
	display: flex; 
	height: 50px; 
	width: 100%;
	align-items: center;
	width: 100%;
	z-index: 9999;
	padding-right: 50px;
	padding-left: 50px;

}

.section_wrapper {

}


.header_wrapper {
	height: 100vh; 
	background-color: #030713;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 50px;
	width: 100%;
}

.logo {
	margin-left: 24px;
}

.logo a {
	color: #fefefe;
	font-size: 35px;
	font-family: "Segoe UI";
}

.lines {
	width: 41px; 
	height: 21px;
}

.header_nav__ul li {
	display: inline-block;
	padding-left: 30px;
}

.header_nav__ul li a {
	display: inline-block;
	color: #ffffff;
	font-family: "Segoe UI";
	font-size: 18px;
	font-weight: 400;
	
}

.semantic {
	visibility: hidden; 
	position: absolute;
}


.location {
	color: #b9b9b9;
	border-left: 1px solid #b9b9b9;
	border-right: 1px solid #b9b9b9;
	height: 100%;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
}

.location_item {
	margin-left: 7px;
}


.main_screen_first_bg {
	width: 100%; 
	height: 100%; 
	background-image: url('specna-arms-1094550-unsplash.png'); 
	background-repeat: no-repeat; background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.main_screen_second_bg {
	width: 100%; 
	height:500px;
	left: 10%; 
	position: absolute; 
	left: 0;
 
	background-repeat: no-repeat;
	background-position:  center; 
	top: 50px; 
	background-size: contain;
}


.first_screen_section_bg {
	 
	background-color: #030311;
	opacity: .6;
	position: absolute; 
	z-index: 1;
	width: 100%;
	height: 100%;
}

.welcome {
	color: #ffffff;
	font-family: "Exo 2";
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;		
}



.welcome_section {
	padding-top: 50px; 
	width: 100%; 
	height: 95vh; 
	z-index: 2; 
	display: flex; 
	justify-content: space-around;
	align-items: center; 
	flex-direction: column;
	position: relative;
}

.buttons_container {
	margin-top: 31px;
	display: flex; 
	justify-content: center;
}

.buttons_container span a {
	font-family: "Exo 2";
	font-size: 16px;
	font-weight: 500;
	min-height: 41px;
	border: 1px solid white;
	display: flex;
	align-items: center;
	max-width: 300px;
	text-align: center;
	box-sizing: padding-box;
	padding-right: 15px;
	padding-left: 15px;

}

.buttons_container span a {
	color: white;
	font-family: "Exo 2";
	font-size: 16px;
	font-weight: 500;
}

.left_button_margin {
	margin-left: 80px;
}


.company_name {
	color: #ffffff;
	font-family: "Exo 2";
	font-size: 60px;
	font-weight: 300;
	padding: 10px 0px;
	
}

.about {
	display: flex; 
	flex-direction: column;
	justify-content: space-between; 
	align-items: center; 
}


.text_about {
	font-size: 20px;
	font-weight: 400;
	text-align: left;
	width: 75%;
}


.about-item {
	color: white; 
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30px;
}

.about-3 {
	color: red;
}

.company_about {
	font-size: 60px;
	font-weight: 500;
}

.about-4 {
	font-weight: 300;
	font-size: 20px;
	width: 40em;
	text-align: center;
}


.guns_section {
	display: flex;
	width: 752px;
	justify-content: space-between;
}

.guns_section_under {
	display: flex;
	flex-direction: column;
	
}

.guns_section_under img {
	display: inline-block;
}


.guns_section_under h2 {
	text-align: center;
	color: white;
	font-size: 20px;
	width: 10em;
	display: block;
	font-weight: 400;

}


.social {
	position: absolute; 
	min-height: 200px; 
	width: 50px;  
	bottom: 50px; 
	left: 0; 
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	justify-content: space-between;
}

.social i{
	font-size: 25px;
	color: #b9b9b9;
}

.background_guns {
	 background-repeat: no-repeat; 
	 background-position: center; 
	 width: 100%; 
	 min-height: 100px;
}


.phone {
	position: absolute;
	right: 50px;
	bottom: 0;
	height: 50px;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 400;
	color: #b9b9b9;
}
 .phone a {
 	color: #b9b9b9;
 	font-size: 20px;
	font-weight: 400;
	margin-left: 7px;	
 }


.main_info_container {
	min-height: 1080px;  
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;

}

.main_info_container_decoration {
	 height: 100%;  
	 position: absolute; 
	 left: -20%; 
	 top: 0;  
	 background-repeat: no-repeat; 
	 background-position: left center; 
}

.main_info_section {
	width: 68%;
	z-index: 2;
	min-height: 840px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}



.main_info_section_under {
	display: flex;
	align-items: center;
	line-height: 1.5;
	color: #222222;
	justify-content: space-between;

	

}

.main_info_section_under i {
	font-size: 150px;
	color: #02020f;
	
}

.company_name_container {
	display: flex; 
	justify-content: space-between;
	align-items: center;
	margin-bottom: 47px;

}

.main_info_section_company_name {
	color: #ff0000;
}

.company_name_line {
	height: 2px;
	flex-grow: .4;
	background-color: #04091a;
}

.main_info_section_header {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 300;
	color: #222222;

}

.our_documents {
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.documets_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.our_documents_header {
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 99px;*
}

.documets_container_header {
	font-size: 30px;
	font-weight: 300;
	color: #222222;
	text-align: center;
	margin-bottom: 5px;
	width: 100%;
}

.about_documents {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	width: 100%;
	display: block;
	color: #222222;
	display: flex;


}

.document_post {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.documets_container article {
	max-width: 380px;

}


.article_link {
	display: block;
	width: 100%;
	height:100%; 
}

.document_img {
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 35px;
}

.document_img img {
	visibility: hidden;

}

.service {
	min-height: 650px;
	position: relative;
	background-image: url('service_bg.png'); 
	background-size: cover; 
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.service_section_bg {
	width: 100%;
	height: 100%;
	background-color: #01010d;
	position: absolute;
	opacity: 0.65;
	z-index: 0;
}


.service_section {
	width: 70%;
	min-height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	z-index: 3;
}

.service_posts_container {
	display: flex;
	justify-content: space-between;
	color: white;


}

.service_post  p {
	line-height: 1.4;
		
}


.our_documents_explain {
	color: #ffffff;
	text-align: center;
}

.our_documents_explain_header {
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.81);
	font-size: 40px;
	font-weight: 300;
	display: block;
	margin-bottom: 10px;

}

.our_documents_explain_p {
	font-size: 20px;
}

.service_post {
	width: 370px;
	box-shadow: 0 3px 6px #000000;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 400;
	height: 100%;
	padding: 20px;
	position: relative;



	
}

.service_post_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .41;
	z-index: -1;
	top: 0;
	left: 0;	

}

.service_post h3 {
	border-bottom: 1px solid white;
	margin-bottom: 10px;
	text-transform: uppercase;
}


.our_partners {
	min-height: 430px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.decoration_our_partners {
	z-index: 0; 
	position: absolute; 
	right: -15%; 
	top: -50%;
}

.our_partners_section {
	width: 100%;
	min-height: 330px;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: space-between;
	z-index: 0;
	position: relative;



}

.our_partners_explain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.our_partners_posts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;

}

.our_partners_explain span {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 9px;
}
.our_partners_explain p {
	font-size: 20px;
	font-weight: 300;	

}

.our_partners_posts h3 {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
	font-weight: 300;
}

.our_partners_post {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.angle {
	font-size: 100px;
	color: #d8d8d8;
	
	
}

.our_partners_explain {

}

.our_partners_posts_with_angels {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.contact_us {
	width: 462px; 
	position: relative; 
	min-height:523px;   
	display: flex; 
	align-self: flex-end;
	margin-bottom: 60px;
	margin-top: 102px;

	
}

.contact_us_bg {
	width: 462px; 
	position: absolute; 
	height:100%; 
	z-index: 0; 
	background-color: #ffffff; 
	border-radius: 5px;
	opacity: 0.44;
}

.inputs_container {
	z-index: 3; 
	min-height:523px; 
	width: 462px; 
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.contact_us_header {

	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 0 3px 6px rgba(0, 0, 0, 0.55);
	color: #ffffff;
	text-transform: uppercase;	
}


.contact_us_input {
	margin-bottom: 20px;
	width: 394px;
	height: 62px;
	border-radius: 3px;
	border: 1px solid #707070;
	background-color: #ffffff;
	font-size: 20px;
	font-weight: 300;

}

.contact_us_input::placeholder {
	padding-left: 23px;
	color: #222222;

}

.contact_us_container {
	width: 85%;
	display: flex;
	min-height: 523px;

}

.contact_us_section {
	position: relative; 
	display: flex; 
	justify-content: center;   
	min-height: 700px; 
	width: 100%;
	background-image: url('place_on_map.png'); 
	background-size: cover;


}


.contact_us_submit {
	border: 1px solid #707070;
	background-color: #02020f;
	color: white;
	font-size: 24px;
	font-weight: 400;
}

.message_submit {
	height: 135px;
}

.message_submit::placeholder {
	padding-top: 15px;
}

footer  {
	height: 385px;
	background-color: #030713;
	display: flex !important;
	align-items: center;
	justify-content: center;
	position: relative;
}


.footer_decoration {
	position: absolute; 
	right: -10%; 
	top: -40%;
}

.mark_map {
	position: absolute;
	z-index: 5;
	top: 174px;
	right: 22%;
	color: red;
}

.under_footer {
	display: flex;
	width: 85%;
}

.footer_logo_a {
	font-size: 110px;
	display: flex;
	align-items: center;
	color: white;

}

.footer_logo_a i {
	margin-right: 14px;
}

.footer_company_name {
	font-size: 60px;
	font-weight: 600;	
}

.footer_address {
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	align-self: flex-end;
	line-height:1.5;
	margin-left: 134px;
}