@media screen and (max-width:1200px) {
		.instagram_section {
			width: 800px;
		}

		.instagram_row_item {
			height: 120px;
			width: 120px;
			
		}



		
}


@media screen and (max-width:800px) {
		.instagram_section {
			width: 500px;
		}

		.instagram_row_container {
			display: flex;
			justify-content: space-around;		

		}

		.instagram_row {
			flex-direction: column;
			margin: 0px;
			height: 800px;

		}

	

}

@media screen and (max-width:500px) {
		.instagram_section {
			width: 300px;
		}

	
}