.instagram_section_header {
	text-align: center;
	font-size: 55px;
	margin-bottom: 20px;

}

.instagram_section {
	width: 1200px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 60px;
}

.instagram_row {
	
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.instagram_row:last-child {
	margin-bottom: 0px;		
}

.instagram_row_item {
	height: 170px;
	width: 170px;
	background-color: red;
}
